:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196F3;
  --logo-color: #000000;
  --hero-title-color: #FFFFFF;
  --background-dark-color: #2F303A;
  --background-cloudy-color: #F5F4FA;
  --contacts-color: rgba(255, 255, 255, 0.6);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

body {
  background-color: #fff;
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
}

.accent {
  color: var(--accent-color);
}

.link {
  text-decoration: none;
}

.button {
  font-family: inherit;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.logo {
  margin-right: 93px;
  color: var(--logo-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.button {
  color: var(--hero-title-color);
  background-color: var(--accent-color);
}

.button.primary {
  border-radius: 4px;
  padding: 10px 32px;
  border: 1px solid transparent;
  color: var(--hero-title-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 500ms ease, visibility 500ms ease;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: rgb(255, 255, 255);
}

.modal-close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-icon:hover {
  fill: var(--accent-color);
}

.modal-form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus + .modal-form-input-icon {
  fill: var(--accent-color);
}
.modal-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-input-wrapper {
  position: relative;
  display: block;
}

.modal-form-input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  display: block;
  width: 18px;
  height: 18px;
  fill: var(--primary-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-field-desc {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
  margin-bottom: 4px;
}

.modal-form-field {
  margin-bottom: 10px;
}

.modal-form-message {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-message::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form-message:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-text {
  color: var(--secondary-text-color);
}

.modal-form-own-checkbox {
  width: 16px;
  height: 15px;
  border: 1px solid var(--primary-text-color);
  border-radius: 3px;
  cursor: pointer;
  margin-right: 7px;
}

.modal-form-own-checkbox-icon {
  display: none;
}

.modal-form-check {
  appearance: none;
  position: absolute;
}
.modal-form-check:checked + .modal-form-own-checkbox {
  background-color: var(--accent-color);
  border: none;
}
.modal-form-check:checked + .modal-form-own-checkbox .modal-form-own-checkbox-icon {
  display: block;
}
.modal-form-check:focus + .modal-form-own-checkbox {
  box-shadow: 0 0 0 2px rgba(0, 0, 225, 0.5);
}

.modal-form-check-field {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 20px;
  justify-content: center;
}

.checkbox-title {
  color: var(--accent-color);
}

.modal-form-submit {
  width: 200px;
  height: 50px;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  cursor: pointer;
  align-self: center;
  letter-spacing: 0.06em;
  color: var(--hero-title-color);
}

.page-header {
  border-bottom: 1px solid #ECECEC;
}

.page-header-container {
  display: flex;
}

.page-nav {
  display: flex;
  align-items: center;
}

.menu-nav {
  display: flex;
  align-items: center;
  column-gap: 50px;
}

.menu-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}

.menu-nav__link:hover,
.menu-nav__link:focus {
  color: var(--accent-color);
}

.menu-nav_current {
  color: var(--accent-color);
}

.menu-nav_current::after {
  position: absolute;
  left: 0;
  bottom: -1px;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.contacts-mail__envelope {
  margin-right: 10px;
}
.contacts-mail__envelope:hover .envelope {
  fill: var(--accent-color);
}

.contacts-phone__smartphone {
  margin-right: 10px;
}
.contacts-phone__smartphone:hover .smartphone {
  fill: var(--accent-color);
}

.contacts .link {
  color: var(--secondary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts .link:hover, .contacts .link:focus {
  color: var(--accent-color);
}

.adress-header {
  display: flex;
  align-items: center;
  fill: currentColor;
}

.contacts {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.contacts .item + .item {
  margin-left: 50px;
}

.hero {
  background-color: #C4C4C4;
  text-align: center;
  padding: 200px 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero.jpg");
  background-size: cover;
}

.hero__title {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 696px;
  text-transform: uppercase;
  color: var(--hero-title-color);
  font-family: "Roboto";
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
}

.benefit-list {
  display: flex;
  column-gap: 30px;
  flex-wrap: wrap;
}
.benefit-list .title {
  margin-bottom: 10px;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}
.benefit-list .text {
  color: var(--secondary-text-color);
  font-weight: 400;
  line-height: 1.71;
}

.elements {
  flex-basis: calc((100% - 90px) / 4);
}

.antenna-box {
  display: flex;
  margin-bottom: 30px;
  height: 120px;
  justify-content: center;
  align-items: center;
  background-color: #F5F4FA;
}

.antenna-icon {
  width: 70px;
  height: 70px;
  justify-content: center;
  align-items: center;
}

.clock-box {
  display: flex;
  margin-bottom: 30px;
  height: 120px;
  justify-content: center;
  align-items: center;
  background-color: #F5F4FA;
}

.clock-icon {
  width: 70px;
  height: 70px;
  justify-content: center;
  align-items: center;
}

.diagram-box {
  display: flex;
  margin-bottom: 30px;
  height: 120px;
  justify-content: center;
  align-items: center;
  background-color: #F5F4FA;
}

.diagram-icon {
  width: 70px;
  height: 70px;
  justify-content: center;
  align-items: center;
}

.astronaut-box {
  display: flex;
  margin-bottom: 30px;
  height: 120px;
  justify-content: center;
  align-items: center;
  background-color: #F5F4FA;
}

.astronaut-icon {
  width: 70px;
  height: 70px;
  justify-content: center;
  align-items: center;
}

.section-title {
  margin-bottom: 50px;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.foto-item {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.caption {
  padding-top: 0;
}

.foto-elements {
  flex-basis: calc((100% - 60px) / 3);
}

.foto-img {
  position: relative;
}

.overlay-img {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 70px;
  width: 370px;
  background-color: rgba(47, 48, 58, 0.8);
  padding: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--hero-title-color);
}

.team-list {
  display: flex;
  gap: 30px;
}
.team-list .title {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.team-list .text {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.imagine-fone {
  flex-basis: calc((100% - 90px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.photo-cards {
  padding-top: 30px;
  padding-bottom: 30px;
}

.subtitle {
  margin-bottom: 10px;
}

.text {
  margin-bottom: 16px;
}

.imagine-fone {
  background-color: var(--hero-title-color);
}

.team {
  background-color: var(--background-cloudy-color);
}

.social-list {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

.social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--hero-title-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-icon {
  width: 20px;
  height: 20px;
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--hero-title-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-link:hover, .social-list-link:focus {
  background-color: var(--accent-color);
}
.social-list-link:hover .social-list-icon, .social-list-link:focus .social-list-icon {
  fill: var(--hero-title-color);
}

.client {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.client-list {
  display: flex;
  column-gap: 30px;
}

.client-list-link {
  display: flex;
  width: 170px;
  height: 92px;
  justify-content: center;
  border-radius: 4px;
  align-items: center;
  border: 1px solid #AFB1B8;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-list-link:hover, .client-list-link:focus {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}

.client-list-icon {
  width: 106px;
  height: 60px;
  justify-content: center;
  align-items: center;
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-list-icon:hover, .client-list-icon:focus {
  fill: var(--accent-color);
}

.portfolio-ikon {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  column-gap: 8px;
}

.ikon {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.ikon:hover, .ikon:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-title {
  margin-bottom: 4px;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-text {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.86;
}

.portfolio-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  flex-basis: calc((100% - 60px) / 3);
}

.pictures {
  display: block;
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.pictures:hover, .pictures:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.one-card {
  padding: 20px 24px;
  border-top: none;
  border-right: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
}

.portfolio-list {
  padding: 6px 22px;
  border: 1px solid transparent;
  border-radius: 4px;
  font-family: Roboto, sans-serif;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list:hover, .portfolio-list:focus {
  background-color: var(--accent-color);
  color: var(--hero-title-color);
}

.overlay {
  position: absolute;
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--hero-title-color);
  font-size: 18px;
  padding: 63px 24px;
  line-height: 1.5;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-list-img {
  position: relative;
  overflow: hidden;
}

.pictures:hover .overlay,
.pictures:focus .overlay {
  transform: translateY(0%);
}

.page-footer {
  background-color: var(--background-dark-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-footer {
  color: var(--hero-title-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.adress-footer {
  margin-top: 20px;
}

.footer-text {
  color: var(--hero-title-color);
  font-style: normal;
  line-height: 1.71;
}

.info {
  margin-bottom: 9px;
}

.footer-contact {
  color: var(--contacts-color);
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
}

.footer-text:hover,
.footer-contact:focus {
  color: var(--accent-color);
}

.adress-title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--hero-title-color);
}

.footer-general {
  display: flex;
  align-items: baseline;
}

.social-adress {
  display: flex;
  gap: 10px;
}

.page-adress {
  margin-left: 70px;
}

.social-list-adress {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--hero-title-color);
  background: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-adress:hover, .social-list-adress:focus {
  background-color: var(--accent-color);
}

.social-list-fotter {
  width: 20px;
  height: 20px;
  fill: var(--hero-title-color);
}

.footer-modal-form {
  margin-left: auto;
}

.footer-modal-text {
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--hero-title-color);
}

.footer-form {
  display: inline-flex;
}

.footer-form-message {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  border-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background: #2F303A;
  color: var(--hero-title-color);
}
.footer-form-message::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form-submit {
  position: relative;
  margin-left: 12px;
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
}

.footer-button-text {
  position: absolute;
  gap: 10px;
  top: 10px;
  left: 28px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--hero-title-color);
}

.modal-footer-icon {
  position: absolute;
  top: 13px;
  right: 28px;
  width: 24px;
  height: 24px;
}/*# sourceMappingURL=main.css.map */