@media screen and (max-width: 1199px) {
    .caption {
        display: none;
    }
}


.section-title {
    margin-bottom: 50px;

    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.foto-item {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.caption {
    padding-top: 0;
}

.foto-elements {
    flex-basis: calc((100% - 60px) / 3);
}

.foto-img {
    position: relative;
}

.overlay-img {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 70px;
    width: 370px;
    background-color: rgba(47, 48, 58, 0.8);

    padding: 27px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
    color: var(--hero-title-color);
}