.menu-nav {
    display: none;
}

.contacts {
    display: none;
}

.open-mobile-menu-button {
    line-height: 0;
    border: none;
    background-color: transparent;
    padding: 0;
}

.open-mobile-menu-button-icon {
    width: 24px;
    height: 16px;
}

.page-header {
    padding-top: 16px;
    padding-bottom: 16px;
}

.page-header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


//.page-header {
   // border-bottom: 1px solid #ECECEC;
//}

//.page-header-container {
 //   display: flex;
//}

//.page-nav {
 //   display: flex;
 //   align-items: center;
//}

//.menu-nav {
   // display: flex;
  //  align-items: center;
  //  column-gap: 50px;
//}

//.menu-nav__link {
       // display: block;
       // padding-top: 32px;
      //  padding-bottom: 32px;

       // color: var(--primary-text-color);
       // font-weight: 500;
       // font-size: 14px;
      //  line-height: 1.14;
       // letter-spacing: 0.02em;

       // transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
       // position: relative;
//}

//.menu-nav__link:hover,
//.menu-nav__link:focus {
       // color: var(--accent-color)
   // }






//.menu-nav_current {
   // color: var(--accent-color);
//}

//.menu-nav_current::after {
   // position: absolute;
   // left: 0;
   // bottom: -1px;
   // content: "";
   // display: block;
   // width: 100%;
   // height: 4px;
   // border-radius: 2px;
   // background-color: var(--accent-color);
//}

//.contacts-mail__envelope {
   // margin-right: 10px;

    //&:hover .envelope {
        //fill: var(--accent-color);

    //}
//}

//.contacts-phone__smartphone {
    //margin-right: 10px;

   // &:hover .smartphone {
        //fill: var(--accent-color);

    //}

//}

//.contacts .link {
    //color: var(--secondary-text-color);
    //font-weight: 500;
    //line-height: 1.14;
    //letter-spacing: 0.02em;
    //transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

   // &:hover,
   // &:focus {
        //color: var(--accent-color);
    //}
//}

//.adress-header {
   // display: flex;
   // align-items: center;
   // fill: currentColor;
//}

//.contacts {
   // display: flex;
   // margin-left: auto;
   // align-items: center;
//}


//.contacts .item+.item {
    //margin-left: 50px;
//}