:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-color: #2196F3;
    --logo-color: #000000;
    --hero-title-color: #FFFFFF;
    --background-dark-color: #2F303A;
    --background-cloudy-color: #F5F4FA;
    --contacts-color: rgba(255, 255, 255, 0.6);
}

